* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(34, 34, 34);
}

.board-container {
  width: 600px;
  height: 600px;
}

.board {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: 12.5%;
  height: 12.5%;
}

.promote-square {
  width: 50%;
  height: 50%;
}

.square-black {
  background: #5f955c;
}

.square-white {
  background: #e3d8c8;
}

.board-square {
  width: 100%;
  height: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.piece-container {
  cursor: grab;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.piece {
  max-width: 70%;
  max-height: 70%;
}

.game-over-text {
  display: flex;
  text-shadow: 4px 4px 5px black;
  position: absolute;
  color: white;
  flex-direction: column;
  font-family: sans-serif;
  
  
}

.result {
  display: flex;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 15px;
  text-shadow: 2px 2px 5px black;
  position: absolute;
  color: white;
  flex-direction: column;

}


nav {
  background-color: #4CAF50;
  color: white;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  padding: 20px;
  align-items: center;
}

nav a {
  background-color: #4CAF50;
}

.nav-username {
  color: rgb(34, 34, 34);
}

nav button {
  background: #4CAF50;
  height: 30px;
  width: 150px;
  border-radius: 15px;
  border: none;
  font-weight: bold;
  color: white;
  transition-duration: 0.4s;
}

nav button:hover {
  color: white;
  cursor: pointer;
  font-weight: bolder;
  background-color: rgb(34, 34, 34);
  border-radius: 15px;
}

.homepage {
  display: flex;
  justify-content: center;
  position: relative;
  top: 30vh;
}

a {
  text-decoration: none;
}

.home-btn {
  background-color: #4CAF50;
  height: 300px;
  width: 350px;
  border-radius: 15px;
  border: none;
  font-weight: bold;
  color: white;
  transition-duration: 0.4s;

}


.home-btn:hover {
  color: #4CAF50;
  cursor: pointer;
  font-weight: bolder;
  background-color: rgb(34, 34, 34);
  border-radius: 15px;
}

.new-game-button {
  background: rgb(34, 34, 34);
  height: 30px;
  width: 150px;
  border-radius: 7%;
  border: none;
  font-weight: bold;
  color: white;
  transition-duration: 0.4s;
  margin-top: 30px;
}

.new-game-button:hover {
  background-color: #4CAF50;
  cursor: pointer;
  font-weight: bolder;

}

.new-game-btn {
  background-color: gray;
  width: 30px;
  height: 30px;
  margin-left: 2%;
  border-radius: 7%;
  border: none;
  font-weight: normal;
  color: white;
  
}

.new-game-btn span {
  background-color: gray;
  width: 30px;
  height: 30px;
  margin-left: 2%;
  border-radius: 7%;
  border: none;
  font-weight: normal;
  color: white;
  transition-duration: 0.4s;
  
}

.new-game-btn span:hover{
  color: #4CAF50;
  cursor: pointer;
  font-weight: bolder;
  font-size: larger;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.modal-content {
  width: 60%;
  min-height: 200px;
  background-color: white;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-content h3 {
  padding-bottom: 15px;
}

.modal-content input {
  border: rgb(34, 34, 34) solid 2px;
  border-radius: 15px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition-duration: 0.4s;
  margin-bottom: 15px;
}

.modal-content input:hover {
  border: #4CAF50 solid 2px;
}

.modal-content button {
  margin-bottom:15px ;
}


/* .move-history {
  color: white;
  margin-left: 15px;
  background-color: rgb(52, 52, 52);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  line-height: 1.4;
  
} */

.profile-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  font-family: sans-serif;
}

.profile-page form {
  display: flex;
  flex-direction: column;
  border: solid rgb(34, 34, 34) 3px;
  border-radius: 50px;
  height: 250px;
  width: 250px;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
}

.profile-page button {
  background: #4CAF50;
  height: 30px;
  width: 150px;
  border-radius: 15px;
  border: none;
  font-weight: bold;
  color: white;
  transition-duration: 0.4s;
}

.profile-page button:hover {
  color: white;
  cursor: pointer;
  font-weight: bolder;
  background-color: rgb(34, 34, 34);
  border-radius: 15px;
}
.profile-name label {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 3px;
}

.profile-name input {
  border: rgb(34, 34, 34) solid 2px;
  border-radius: 15px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition-duration: 0.4s;
}
 
.profile-email label {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 3px;
}

.profile-email input {
  border: rgb(34, 34, 34) solid 2px;
  border-radius: 15px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition-duration: 0.4s;
}

.profile-name input:hover {
  border: #4CAF50 solid 2px;
  
}

.profile-email input:hover {
  border: #4CAF50 solid 2px;
}

.signup-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.login-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}